@charset "utf-8";
html, body {
    height: 100%;
    overflow-y: hidden
}

@font-face {
    src: url("../font/APOLLO.otf");
    font-family: 'apollo';
}

body {
    position: relative;
    min-width: 1200px;
    font-family: "Dotum", "Arial", sans-serif;
    font-size: 12px;
    color: #333;
    background: white
}

.posNum {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 50px;
    margin: -25px 0 0 -150px;
    background: #111;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    z-index: 9999
}

.scrollBox {
    min-width: 1200px;
    height: 100%;
    position: relative
}

.scrollBox .wrap {
    min-width: 1200px;
    position: relative;
    overflow: hidden
}

.scrollBox .wrap > div {
    position: relative
}

.scrollBox .wrap .objs > li {
    position: absolute;
    left: 50%
}

.menu-pop {
    width: 0;
    height: 980px;
    position : fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    transition: 0.5s;
    visibility: hidden;
    opacity : 0;
}

.menu-pop.on {
    visibility: visible;
    width: 100%;
    opacity : 1;
}

.menu-pop .menu-left {
    position: absolute;
    width: 970px;
    height: 980px;
    background: white;
    transition: all 1s;
    transition-delay: 0.2s;
    z-index: 500;
}


.menu-pop .menu-left .menu-btn-box {
    position : absolute;
    width : 578px;
    height : 371px;
    left : 284px;
    top : 218px;
    transition-delay: 0.3s;
}

.menu-pop .menu-left .btn01 {
    margin-bottom : 70px;
}

.menu-pop .menu-left .btn02 {
    margin-bottom : 55px;
}

.menu-pop .menu-left .menu_text01 {
    position: absolute;
    top: 166px;
    left: 284px;
}

.menu-pop .menu-left .menu_support {
    position: absolute;
    top: 685px;
    left: 284px;
}

.menu-pop .menu-left .menu_text02 {
    position: absolute;
    top: 742px;
    left: 285px;
}

.menu-pop .menu-left .menu_pictogram {
    position: absolute;
    top: 793px;
    left: 669px;
}










.menu-pop .menu-right {
    position: absolute;
    width: 953px;
    height: 980px;
    left: 970px;
}


.menu-pop .menu-right .menu-bg {
    width: 953px;
    height: 980px;
    background: url("../images/common/menu/menu-bg01.png") no-repeat;
    position : absolute;
    left: 0;
    top: 0;
    transition: 1s;
    transition-delay: 0.3s;
}

.menu-pop.active .menu-right .menu-bg {
   width: 100%;
}

/*------menu-bg-each------*/

.menu-pop .menu-right .menu-bg .bg2{
    width : 953px;
    height : 980px;
    background : url("../images/common/menu/menu-bg02.png") no-repeat;
}
.menu-pop .menu-right .menu-bg .bg3{
    width : 953px;
    height : 980px;
    background : url("../images/common/menu/menu-bg03.png") no-repeat;
}

.menu-pop .menu-right .menu-bg .bg4{
    width : 953px;
    height : 980px;
    background : url("../images/common/menu/menu-bg04.png") no-repeat;
}

.menu-pop .menu-right .menu-bg > div {
    position: absolute;
    left: 0;
    top: 0;
    display : none;
}

.menu-pop .menu-right .menu-logo {
    position : absolute;
    left : 50%;
    top : 50%;
    margin-left : -520px;
    margin-top : -53px;
    z-index : 10;
    transition-delay: 0.9s;
    animation: text_rolling 80s linear alternate infinite;
}

@keyframes text_rolling {
    to {
        transform: translateX(-7000px);
    }
}

.menu-pop .menu-right .menu-box {
    position : absolute;
    left : 50%;
    top : 50%;
    margin-left: -227px;
    margin-top: -340px;
    width : 496px;
    height : 667px;
    background: url("../images/common/menu/menu-box01.png") no-repeat;
    z-index : 11;
    transition : 1.5s;
    transition-delay: 0.5s;
}

.menu-pop.active .menu-right .menu-box {
    width: 100%;
}

/*------menu-bg-each------*/

.menu-pop .menu-right .menu-box .box2{
    width : 496px;
    height : 667px;
    background : url("../images/common/menu/menu-box02.png") no-repeat;
}

.menu-pop .menu-right .menu-box .box3{
    width : 496px;
    height : 667px;
    background : url("../images/common/menu/menu-box03.png") no-repeat;
}

.menu-pop .menu-right .menu-box .box4{
    width : 496px;
    height : 667px;
    background : url("../images/common/menu/menu-box04.png") no-repeat;
}


.menu-pop .menu-right .menu-box > div {
    position: absolute;
    left: 0;
    top: 0;
    display : none;
}

























#scene01 {
    height: 980px;
}

#scene01 .header {
    position: absolute;
    width: 210px;
    height: 980px;
    background: white;
    left: 0;
    top: 0;
    z-index: 9999;
}

#scene01 .header .logo{
    position: absolute;
    top: 39px;
    left: 40px;
}


#scene01 .header .menu{
    width: 32px;
    height: 25px;
    position : relative;
    top: 478px;
    margin: 0 auto;
}

#scene01 .header .menu > span {
    display: block;
    width: 32px;
    height: 4px;
    background: black;
    position : absolute;
    transition: 0.5s;
    z-index: 150;
}
#scene01 .header .menu > span:nth-child(1){top: 0;}
#scene01 .header .menu > span:nth-child(2){top: 10px;}
#scene01 .header .menu > span:nth-child(3){top: 10px;}
#scene01 .header .menu > span:nth-child(4){top: 20px;}

#scene01 .header .menu.active > span:nth-child(1),
#scene01 .header .menu.active > span:nth-child(4) {opacity : 0;}

#scene01 .header .menu.active > span:nth-child(2) {transform: rotate(-45deg);}
#scene01 .header .menu.active > span:nth-child(3) {transform: rotate(45deg);}




.slidesjs-next {
    width: 83px;
    height: 50px;
    position : absolute;
    left: 1420px;
    top: 897px;
    z-index: 50;
    background-image: url("../images/main/main_narrow.png");
}

#scene01 .bgwrap {
    position: absolute;
    width: 1717px;
    height: 980px;
    top: 0;
    left: 210px;
}

#scene01 .box {
    position: absolute;
    width: 1462px;
    height: 320px;
    top: 620px;
    left: 248px;
    z-index: 40;
}

#scene01 .box .line {
    position: absolute;
    top: 230px;
    left: 15px;
    width: 1450px;
    height: 2px;
    background: #ffffff;
}

#scene01 .box .main_comment{
    position: absolute;
    bottom: 0;
}



#scene02 {
    height: 2776px;
    background: white;
}

#scene02 .text{
    position: absolute;
    top: 170px;
    left: 738px;
}

#scene02 .text01{
    position: absolute;
    top: 250px;
    left: 843px;
}

#scene02 .image_moving {
    position: absolute;
    top: 1514px;
    left: 0;
}

#scene02 .image_moving.on{
    animation: ani04 linear normal infinite 15s;
}

@keyframes ani04 {
    0%{
        left: 0;
    }

    100%{
        left: -5500px;
    }
}

#scene02 .product .rosejelly {
    position: absolute;
    top: 360px;
    left: 210px;
    width: 470px;
    height: 607px;
    background-image: url("../images/common/contents/rosejelly.png");
    opacity: 0;
    transition: 1s;
    transform: translateY(300px);
}

#scene02 .product .rosejelly.on {
    opacity: 1;
    transform: translateY(0);
}

#scene02 .product .skinfrostin {
    position: absolute;
    top: 534px;
    left: 724px;
    width: 470px;
    height: 607px;
    background-image: url("../images/common/contents/skinfrostin.png");
    opacity: 0;
    transition: 1s;
    transform: translateY(-400px);
}

#scene02 .product .skinfrostin.on {
    opacity: 1;
    transform: translateY(0);
}

#scene02 .product .triper {
    position: absolute;
    top: 360px;
    left: 1238px;
    width: 470px;
    height: 607px;
    background-image: url("../images/common/contents/triper.png");
    opacity: 0;
    transition: 1s;
    transform: translateY(300px);
}

#scene02 .product .triper.on {
    opacity: 1;
    transform: translateY(0);
}

#scene02 .product .droplet {
    position: absolute;
    top: 1316px;
    left: 210px;
    width: 470px;
    height: 607px;
    background-image: url("../images/common/contents/droplet.png");
    opacity: 0;
    transition: 1s;
    transform: translateY(-300px);
}

#scene02 .product .droplet.on {
    opacity: 1;
    transform: translateY(0);
}

#scene02 .product .violetpaste {
    position: absolute;
    top: 1316px;
    left: 1238px;
    width: 470px;
    height: 607px;
    background-image: url("../images/common/contents/violetpaste.png");
    opacity: 0;
    transition: 1s;
    transform: translateY(-300px);
}

#scene02 .product .violetpaste.on {
    opacity: 1;
    transform: translateY(0);
}

#scene02 .product_text .rosejelly {
    position: absolute;
    top: 1068px;
    left: 349px;
    width: 199px;
    height: 46px;
    background-image: url("../images/common/contents/rosejelly_text.png");
}

#scene02 .product_text .skinfrostin {
    position: absolute;
    top: 1239px;
    left: 896px;
    width: 125px;
    height: 45px;
    background-image: url("../images/common/contents/skinfrostin_text.png");
}

#scene02 .product_text .triper {
    position: absolute;
    top: 1068px;
    left: 1393px;
    width: 173px;
    height: 46px;
    background-image: url("../images/common/contents/triper_text.png");
}

#scene02 .product_text .droplet {
    position: absolute;
    top: 2031px;
    left: 343px;
    width: 196px;
    height: 46px;
    background-image: url("../images/common/contents/droplet_text.png");
}

#scene02 .product_text .violetpaste {
    position: absolute;
    top: 2031px;
    left: 1358px;
    width: 233px;
    height: 46px;
    background-image: url("../images/common/contents/violetpaste_text.png");
}

#scene02 .rosejelly .rosejelly_product{
    position: absolute;
    top: 253px;
    left: 150px;
}

#scene02 .skinfrostin .skinfrostin_product{
    position: absolute;
    top: 253px;
    left: 155px;
}

#scene02 .triper .triper_product{
    position: absolute;
    top: 253px;
    left: 155px;
}

#scene02 .droplet .droplet_product{
    position: absolute;
    top: 385px;
    left: 143px;
}

#scene02 .violetpaste .violetpaste_product{
    position: absolute;
    top: 472px;
    left: 167px;
}

#scene02 .product .rosejelly .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

#scene02 .product .rosejelly:hover .overlay {
    width: 100%;
    left: 0;
}

#scene02 .product .rosejelly_hover {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#scene02 .product .skinfrostin .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

#scene02 .product .skinfrostin_hover {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#scene02 .product .triper .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

#scene02 .product .triper_hover {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#scene02 .product .droplet .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

#scene02 .product .droplet:hover .overlay {
    width: 100%;
    left: 0;
}

#scene02 .product .droplet_hover {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#scene02 .product .violetpaste .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

#scene02 .product .violetpaste:hover .overlay {
    width: 100%;
    left: 0;
}

#scene02 .product .violetpaste_hover {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


#scene02 .product > div > div:nth-child(2) {transition: .5s ease;}
#scene02 .product > div:hover .overlay {width: 100%; left: 0;}
#scene02 .product > div:hover > div:nth-child(2) {transform: rotate(20deg);}





#scene03 {
    height: 1612px;
    background: #d4ebff;
}

#scene03 .brandstory_image {
    position: absolute;
    width: 1710px;
    height: 869px;
    top: -434px;
    background-image: url("../images/common/contents/brandstory_image.png");
}

#scene03 .brandstory_image .brandstory_text {
    position: absolute;
    top: 350px;
    left: 211px;
}

#scene03 .brandstory_image .btn {
    position: absolute;
    top: 463px;
    left: 211px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 18px 130px;
    text-align: center;
    font-family: 'apollo';
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    margin: 4px 2px;
    transition: 0.3s;
}

#scene03 .brandstory_image .btn:hover {
    background-color: #000000;
    border: 1px solid black;
    color: white;
}

#scene03 .text02{
    position: absolute;
    top: 649px;
    left: 685px;
    opacity: 0;
    transition: 1s;
    transform: translateY(100px);
}

#scene03 .text02.on {
    opacity: 1;
    transform: translateY(0);
}


#scene03 .text03{
    position: absolute;
    top: 725px;
    left: 855px;
    opacity: 0;
    transition: 1s;
    transform: translateY(100px);
}

#scene03 .text03.on {
    opacity: 1;
    transform: translateY(0);
}

#scene03 .promise_contents {
    position: absolute;
    top: 839px;
    left: 238px;
    width: 1465px;
    height: 374px;
}

#scene03 .promise_contents .icon01{
    position: absolute;
    left: 69px;
}

#scene03 .promise_contents .icon02{
    position: absolute;
    left: 633px;
}

#scene03 .promise_contents .icon03{
    position: absolute;
    left: 1198px;
}

#scene03 .promise_contents .promise_title01{
    position: absolute;
    top: 236px;
    left: 49px;
}

#scene03 .promise_contents .promise_title02{
    position: absolute;
    top: 236px;
    left: 636px;
}

#scene03 .promise_contents .promise_title03{
    position: absolute;
    top: 236px;
    left: 1238px;
}

#scene03 .promise_contents .promise_text01{
    position: absolute;
    top: 293px;
}

#scene03 .promise_contents .promise_text02{
    position: absolute;
    top: 293px;
    left: 545px;
}

#scene03 .promise_contents .promise_text03{
    position: absolute;
    top: 293px;
    left: 1111px;
}

#scene03 .image_moving_white {
    position: absolute;
    bottom: -10px;
    left: 0;
}

#scene03 .image_moving_white.on {
    animation: ani04 linear normal infinite 15s;
}
@keyframes ani04 {
    0%{
        left: 0;
    }

    100%{
        left: -5500px;
    }
}

#scene04 {
    height: 2090px;
    background: white;
}

#scene04 .image_boy {
    position: absolute;
    top: -145px;
    left: 210px;
}

#scene04 .box1 {
    position: absolute;
    left: 1022px;
    top: 178px;
    width: 628px;
    height: 0;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s;
}

#scene04 .box1.on{
    height: 383px;
    opacity: 1;
    transform: translateY(0);
}

#scene04 .box1 .text_05 {
    position: absolute;
    top: 185px;
}

#scene04 .box1 .btn {
    position: absolute;
    top: 322px;
    background: white;
    border: 1px solid #464646;
    color: #454545;
    padding: 18px 130px;
    text-align: center;
    font-family: 'apollo';
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    margin: 4px 2px;
    transition: 0.3s;
}

#scene04 .box1 .btn:hover {
    background-color: #000000;
    border: 1px solid black;
    color: white;
}

#scene04 .image_product {
    position: absolute;
    top: 793px;
    left: 724px;
}

#scene04 .box2 {
    position: absolute;
    width: 421px;
    height: 0;
    top: 897px;
    left: 204px;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s;
}

#scene04 .box2.on{
    height: 370px;
    opacity: 1;
    transform: translateY(0);
}

#scene04 .box2 .text_07 {
    position: absolute;
    top: 177px;
}

#scene04 .box2 .btn {
    position: absolute;
    top: 308px;
    background: white;
    border: 1px solid #464646;
    color: #454545;
    padding: 18px 130px;
    text-align: center;
    font-family: 'apollo';
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    margin: 4px 2px;
    transition: 0.3s;
}

#scene04 .box2 .btn:hover {
    background-color: #000000;
    border: 1px solid black;
    color: white;
}

#scene04 .newsletter{
    position: absolute;
    width: 1920px;
    height: 435px;
    top: 1655px;
    background-image: url("../images/common/contents/newsletter_image.png");
}

#scene04 .newsletter .text_08{
    position: absolute;
    top: 124px;
    left: 206px;
}

#scene04 .newsletter .text_09{
    position: absolute;
    top: 205px;
    left: 206px;
}

#scene04 .e-mail{
    position: absolute;
    top: 300px;
    left: 206px;
}

#scene05 {
    height: 948px;
    background: #ffffff;
}

#scene05 .text_10 {
    position: absolute;
    top: 200px;
    left: 704px;
    opacity: 0;
    transition: 1s;
    transform: translateY(100px);
}

#scene05 .text_10.on {
    opacity: 1;
    transform: translateY(0);
}

#scene05 .account {
    position: absolute;
    top: 289px;
    left: 874px;
    opacity: 0;
    transition: 1s;
    transform: translateY(100px);
}

#scene05 .account.on {
    opacity: 1;
    transform: translateY(0);
}

#scene05 .photo {
    position: absolute;
    width: 1550px;
    height: 342px;
    top: 417px;
    left: 210px;
}

#scene05 .photo > div {
    float: left;
    margin-right: 44px;
    transition: transform .2s;
}


#scene05 .photo:nth-child(4) {
    margin-right: 0
}

#scene05 .photo > div:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2);
}

#scene05 .btn_left {
    position: absolute;
    top: 563px;
    left: 164px;
}

#scene05 .btn_right {
    position: absolute;
    top: 563px;
    left: 1726px;
}


#footer {
    height: 980px;
    background: #d3eafe;
    position: relative
}

#footer .logo {
    position: absolute;
    top: 90px;
    left: 210px;
}

#footer .customer {
    position: absolute;
    top: 813px;
    left: 207px;
}

#footer .footer_menu {
    position: absolute;
    top: 90px;
    left: 1064px;
}

#footer .footer_text {
    position: absolute;
    top: 495px;
    left: 1064px;
}

#footer .footer_info {
    position: absolute;
    top: 746px;
    left: 1064px;
}

#footer .scroll {
    position: absolute;
    top: 795px;
    left: 1705px;
}














